@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

.App {
  text-align: center;
  font-family: "Girassol", cursive;

  .appBar {
    background-color: #045b75;
    font-family: "Girassol", cursive;

    .middle-logo {
      margin: auto;
      width: fit-content;
      cursor: pointer;
      font-family: "Girassol", cursive;

      .blog {
        color: #f5deb3;
      }
    }
  }

  .login-register {
    background-image: url("https://picsum.photos/1600/900");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-register-form-container {
      background-color: white;
      padding: 2rem 0;
      border-radius: 2rem;

      .login-register-ımage {
        width: 10rem;
        border: none;
        padding: 1rem 0;
        background-color: #045b75;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
      }

      .login-register-button {
        background-color: #045b75;
      }

      .google-button {
        background-color: white;
        color: black;
        width: 80%;

        .google-imagine {
          width: 5rem;
          padding-left: 10px;
        }
      }
    }
  }

  .newBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #045b75;
    font-size: 1.5rem;

    .newBlogContainer {
      background-color: white;
      padding: 2rem 0;
      border-radius: 2rem;

      .newBlog-ımage {
        width: 10rem;
        border: none;
        padding: 1rem 0;
        background-color: #045b75;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
      }
      .newBlog-button {
        background-color: #045b75;
      }
    }
  }

  .dashboard {
    margin: auto;
    min-height: 100vh;
    background-color: rgb(197, 194, 194);
    color: #045b75;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .gridContainer {
      width: 100%;
      margin: auto;
      .loading {
        text-align: center;
        margin: auto;
        width: 15rem;
      }
      .cardItem {
        cursor: pointer;
      }
    }
  }

  .details {
    color: #045b75;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .detailsItem {
      margin: 2rem auto;
      padding: 1rem;
      height: fit-content;
      width: 40rem;
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
      justify-content: space-evenly;
    }

    .commentArea{
      margin: auto;
      width: 60rem;
      background-color: #ecebe8;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 10rem;
      .commentForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
      }

      .commentsCards{
        width: 50%;
        margin: auto;
      }
    }     
  }

  .updateBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #045b75;
    font-size: 1.5rem;

    .updateBlogContainer {
      background-color: white;
      padding: 2rem 0;
      border-radius: 2rem;

      .updateBlog-ımage {
        width: 30rem;
        border: none;
        padding: 1rem 0;
        align-items: center;
      }
    }
  }

  .profilCard {
    margin: 5rem auto;
    color: white;
    background-color: #045b75;
    width: 30rem;
    min-height: 40rem;
  }
}
